name: Push commit
on:
  push:
    branches:
      - 'main'

jobs:
  report:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Run script file
      run: |
         . /home/ubuntu/test.sh
      shell: bash
